

aside{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: #ffe3e3a1;
}

.dots-wrap{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 50px 10px;
    transition: all 500ms ease;
    span{
        display: none;
        transition: all 0.3s ease-in;
        position: absolute;
        left: 45px;
    }
    &:hover{
        min-width: 200px;
        span{
            display: flex
        }
    }
}
.dot{
    transition: all 500ms ease;
    margin-bottom: 30px;
    position: relative;
    
    &:after{
        content: "";
        position: absolute;
        height: calc(100% - 5px);
        width: 1px;
        left: 18px;
        background-color: #022057;
    }
    &:last-child{
        margin-bottom: 0;
        width: 35px;
        height: 35px;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        &:after{
            height: calc(100% - 35px);
            top: 0;
        }
    }
    &.active{
        flex: 1;
        a{
            background-color: #ff85e4;
        }
    }
    &:hover{
        cursor: pointer;
        
        
    }
    a{
        @include d-flex(center, center);
        flex-direction: column;
        color: #022057;
        width: 35px;
        height: 35px;
        background-color: #ff85e4;
        border-radius: 50px;
        text-decoration: none;
        transition: all 0.3s ease-in;
        &:hover{
            transform: scale(1.1); 
            cursor: pointer;
        }
        
    }
}