

aside{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: #ffe3e3a1;
}

.dots-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 50px 10px;
    span{
        opacity: 0;
    }
}
.dot{
    transition: all 500ms ease;
    margin-bottom: 30px;
    position: relative;
    
    &:after{
        content: "";
        position: absolute;
        height: calc(100% - 5px);
        width: 1px;
        left: 18px;
        background-color: #022057;
    }
    &:last-child{
        margin-bottom: 0;
        width: 35px;
        height: 35px;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        &:after{
            height: calc(100% - 35px);
            top: 0;
        }
    }
    &.active{
        flex: 1;
    }
    &:hover{
        cursor: pointer;
        //flex: 1 1 auto;
    }
    a{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(75, 38, 243);
        width: 35px;
        height: 35px;
        background-color: #fff;
        border: 1px solid rgb(75, 38, 243);
        border-radius: 50px;

        
        
    }
    
    span{
        display: none;
    }
}